*{
	padding:  0;
	margin:  0;
	box-sizing: border-box;
}
.nav-link{
	color: black;
	font-weight: 600;
}
.navbar-brand{
	color: black;
	font-weight: 700;
}
.main{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(rudra.jpg)no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
.card{

	border: none;
}
.main select{
	height: 40px;
	width: 90px;
	outline: none;
	padding: 0 20px;
}
.main span{
	color: rgb(104,89,89);
	font-weight: 600;
}
.main .btn1{
	background-color: coral;
	color: white;
	outline: none;
	border: none;
	width: 90%;
	height: 40px;
	margin-top: 32px;
}
.btn1:hover{
	background-color: tomato;
	transition: 0.5s;
}

.rent{
	background: rgb(238, 235, 235);
}
.btnf{
	 background-color: black;
	 color: white;
	 height: 45px;
	 width: 200px;
	 outline: none;
	 border: none;
	 display: inline-block;
}
.footer{
	background-color:black;
	color: white;
}









